/* IE FIX */

.box-item {
  display: table-cell;
}

.box {
    display: table;
}

.container .box {

}

.searchbar-border {
  table-layout: auto;
}

.search {
  width: 492px;
}

.car-coord {
  position: static;
}

.info-foot .social-i {
  display: block;
}

.auto-advertise-main .box {
  margin: 0 auto;
}

.auto-advertise-main .box-item {
  vertical-align: middle;
}

.car-rent .car-coord {
  position: static;
}


.footer-aside .box {
  width: 100%;
}

.rental-cont {
  width: 100%;
}

.avis-row {
  width: 100%;
}
